body {
  margin: 0;
  text-align: center;
  background-color: white;
}

.top_container{
  width:auto;
  background-color: #E3FDFD;
  position: relative;
  padding-top: 100px;
}

.bottom-container{
  background-color:#66BFBF;
  padding: 30px;
  color:#11999E;
  font-size: 1rem;
  margin-top: 200px;
}

.para{
  font-size: 2.5rem;
}

.top_cloud{
  position: absolute;
  right: 450px;
  top: 50px;
}

.bottom_cloud{
  position: absolute;
  left:450px;
  bottom:300px;
}

.m1{
  position: absolute;
  left:1px;
}
.m2{
  position: absolute;
  right:1px;
}
.pic{
  margin: 100px auto auto auto;
  border-radius: 90%;
  width: 15%;
}

h1 {
  font-size: 5.625rem;
  font-family: 'Grape Nuts', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2{
  font-size: 2.5rem;
  font-family: sans-serif;
  color: #66BFBF;
  font-weight: normal;
}

p {
  color: black;
  font-size: 1.5rem;
}

h3{
  color:#11999E;
}

a{
  color:#11999E;
  font-size: 1.5rem;
  padding: 1px 10px 1px 10px;
}

.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
  padding-bottom: 30px;
}

.skill-image{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.python{
  width:25%;
  float : right;
  margin-right: 30px;
}

hr{
  width: 10%;
  border-style: dotted;
  border-color: #EAF6F6;
  border-width: 10px;
  border-bottom: none;
  margin: 100px auto 100px auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  bottom: -30px;
}

.btn:hover {
  background:  #30e3cb;
  background-image: -webkit-linear-gradient(top,  #30e3cb,  #2bc4ad);
  background-image: -moz-linear-gradient(top,  #30e3cb,  #2bc4ad);
  background-image: -ms-linear-gradient(top,  #30e3cb,  #2bc4ad);
  background-image: -o-linear-gradient(top,  #30e3cb,  #2bc4ad);
  background-image: linear-gradient(to bottom,  #30e3cb,  #2bc4ad);
  text-decoration: none;
}
/* .skill_description_1{
  clear: left;
}

.skill_description_2{
  clear: right;
} */
